# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
